<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">  <title>Document</title>
  <title>Bulletin Borad</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/post.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="back-wrapper">
  <div class="wrapper">
    <div class="post-wrapper">
      <p>投稿内容</p>

      <div class="post-form">
        <form action="/post_insert_mult" method="post">
          <% tableResult.forEach(p => { %>         
            <input type="hidden" name="user_id" value="<%= p.name %>">
    
            <label for="message"></label>
            <textarea name="message" rows="5" cols="30" placeholder="内容の入力" autofocus required maxlength="140"><%= p.name %></textarea>
            
            <input type="submit" value="投稿" class="post-btn">
            <input type="reset" value="訂正" class="reset-btn">
          <% }) %>
        </form>
      </div>
      
      <div class="post-main-btn">
        <a href="/main" class="btn">戻る</a>
      </div>
    </div>

  </div>
  <script src="/style.js"></script>
</body>
</html>